.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title .th{
  display: flex;
  gap: 20px;
}



.primary {
  width: 80px;
  height: 30px;
  background-color: rgb(55, 245, 182);
  cursor: pointer;
}
.primarysecond {
  color: rgb(55, 245, 182);
}

.disable {
  width: 80px;
  height: 30px;
  background-color: rgb(214, 208, 208)
}

.error {
  color: red;
}

.input-content {
  display: flex;
  text-align: center;
  line-height: 180%;
}

.signin-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button {
  
  width: 80px;
  height: 30px;

  text-align: center;
  line-height: 180%;

}

.sign-in {
  background-color: rgb(214, 208, 208);
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 180%;
  
}

.signin-main {
  display: flex;
  flex-direction: column;
  height: 10vw;
  gap: 20px;
}
.signin-box {
  background-color: rgb(214, 208, 208);
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 180%;
}
.signup-box {
  background-color: rgb(214, 208, 208);
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 180%;
}

.sns-box {
  display: flex;
  gap: 30px;
}

.kakao,
.naver
{
  width: 80px;
  text-align: center;
  line-height: 180%;
  background-color: rgb(214, 208, 208);

}